<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1 class="mt-5 text-center">{{ title }}</h1>

      <div class="row mt-4">
        <div class="col-md-6">
          <!-- Selector de moneda de origen -->
          <div class="form-group">
            <label for="fromCurrency">Moneda de origen:</label>
            <select id="fromCurrency" class="form-control" [(ngModel)]="fromCurrency" (ngModelChange)="convert()">
              <option *ngFor="let currency of getCurrencies()" [value]="currency">{{ currency }}</option>
            </select>
          </div>
        </div>
        <div class="col-md-6">
          <!-- Selector de moneda de destino -->
          <div class="form-group">
            <label for="toCurrency">Moneda de destino:</label>
            <select id="toCurrency" class="form-control" [(ngModel)]="toCurrency" (ngModelChange)="convert()">
              <option *ngFor="let currency of getCurrencies()" [value]="currency">{{ currency }}</option>
            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <!-- Input para la cantidad -->
          <div class="form-group">
            <label for="amount">Cantidad:</label>
            <input type="number" id="amount" class="form-control" [(ngModel)]="amount" min="1" (ngModelChange)="convert()">
          </div>
        </div>
        <div class="col-md-6"> <!-- Nueva columna para el botón -->
          <!-- Botón para realizar la conversión -->
          <div class="form-group">
            <button class="btn btn-primary btn-block mt-4" (click)="convert()">Convertir</button>
          </div>
        </div>
      </div>

      <!-- Resultado de la conversión -->
      <div class="row mt-4" *ngIf="conversionResult">
        <div class="col-md-6 offset-md-3 text-center"> <!-- Centrar el resultado -->
          <div class="alert alert-success" role="alert">
            {{ amount }} {{ fromCurrency }} equivale a {{ conversionResult[toCurrency] * amount }} {{ toCurrency }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
